@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('eot/OpenSans-Light-webfont.eot');
	src: url('eot/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Light-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Light-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url('eot/OpenSans-LightItalic-webfont.eot');
	src: url('eot/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-LightItalic-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-LightItalic-webfont.woff') format('woff'),
		 url('ttf/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('eot/OpenSans-Regular-webfont.eot');
	src: url('eot/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Regular-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Regular-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('eot/OpenSans-Italic-webfont.eot');
	src: url('eot/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Italic-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Italic-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Italic-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('eot/OpenSans-Semibold-webfont.eot');
	src: url('eot/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Semibold-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url('eot/OpenSans-SemiboldItalic-webfont.eot');
	src: url('eot/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-SemiboldItalic-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		 url('ttf/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('eot/OpenSans-Bold-webfont.eot');
	src: url('eot/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Bold-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Bold-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('eot/OpenSans-BoldItalic-webfont.eot');
	src: url('eot/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-BoldItalic-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-BoldItalic-webfont.woff') format('woff'),
		 url('ttf/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('eot/OpenSans-Extrabold-webfont.eot');
	src: url('eot/OpenSans-Extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-Extrabold-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-Extrabold-webfont.woff') format('woff'),
		 url('ttf/OpenSans-Extrabold-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-Extrabold-webfont.svg#open_sansextrabold') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: url('eot/OpenSans-ExtraboldItalic-webfont.eot');
	src: url('eot/OpenSans-ExtraboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('woff2/OpenSans-ExtraboldItalic-webfont.woff2') format('woff2'),
		 url('woff/OpenSans-ExtraboldItalic-webfont.woff') format('woff'),
		 url('ttf/OpenSans-ExtraboldItalic-webfont.ttf') format('truetype'),
		 url('svg/OpenSans-ExtraboldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
}
