@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Signika-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Signika-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Signika-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(Signika-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Signika-Bold.ttf) format('truetype');
}
